section.dx-container {
    padding: 90px 120px;
    background-color: #fff;
}

.text-bold, .text-bold.table td, .text-bold.table th {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

ul.dx-footer.care {
    list-style-type: none;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.item {
    display: flex;
    padding: 6px;
    cursor: pointer;
}

.p-center-h {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

span.p-center.media > img {
    width: 32px;
    padding: 2px;
    height: auto;
}

img {
    vertical-align: middle;
}

li.dx-footer.care.item > i {
    color: #fff;
    padding-right: 2px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer.dx-footer > div.copyright {
    padding: 20px;
    border-top: 0.5px solid #c1c1c1;
    text-align: center;
}